<div class="posts-wrapper row">
<% @posts.each do |post| %>

            <div class="post">
                <div class="post-head">
                    <div class="name">
                        Emmanuel Awokoya

                    </div>
                </div>
                <div class="image center-block">

                            <%= link_to (image_tag post.image.url(:medium), class:'img-responsive'), post_path(post) %>

                </div>
                <div class="caption">
                 <p ><%= link_to post.content, post_path(post)%></p>
                </div>

             <div class="text-right">
                  <%= link_to  "Edit Post", edit_post_path(post)  %>
            </div>
            </div>

    <% end %>
</div>

