<div class="posts-wrapper row">
            <div class="post">
                <div class="post-head">
                    <div class="name">
                        Emmanuel Awokoya

                    </div>
                </div>
                <div class="image center-block">

                            <%= image_tag(@post.image.url(:medium), class:'img-responsive') %>

                </div>
                <div class="caption">
                 <p ><%=@post.content%></p>
                </div>

                <div class="text-center edit-links">
                  <%= link_to  "Back", posts_path  %>
                  <%= link_to  "Edit Post", edit_post_path(@post)  %>
                </div>
            </div>
</div>
